.App {
	text-align: center;
	width: 90%;
	margin: auto;
	margin-top: 20px;
	max-width: 1000px;
	background-color: #a7d2cb;
	border-radius: 30px;
	padding: 20px;
}

h1 {
	margin-bottom: 20px;
}

@media only screen and (max-width: 766px) {
	.App {
		width: 95%;
		padding: 10px;
	}
}
