.App {
	text-align: center;
	width: 80%;
	margin: auto;
	max-width: 1000px;
}

.col-date {
	background-color: gray;
}

.datePicker {
	text-align: center;
}

.date-div {
	height: 38px;
}

.date-group {
	width: 100%;
}

.expTable {
	text-align: left;
}

.delete-button {
	width: 100%;
	height: 100%;
}

.center {
	justify-content: center;
}
